.ipynb_checkpoints
/Image Classification/dataset*
/Image Classification/animal-data*
/Image Classification/saved_model*

/omniglot-master/omniglot-master/python*
/omniglot-master/omniglot-master/data*
/omniglot-master/omniglot-master/weights*
/omniglot-master/omniglot-master/matlab*

/Siamese Network/archive*
/Siamese Network/data*
/Siamese Network/weights*
/Siamese Network/archive.zip
/Siamese Network/archive (1).zip
/Siamese Network/Untitled.ipynb

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/react/my-app/node_modules


# testing
/react/my-app/coverage

# production
/react/my-app/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*